:root {
	//* SMALL
	--font-size-s: 12px;

	//* MEDIUM
	--font-size-m: 16px;
	--border-radius-m: 5px;
	
	//* LARGE
	--font-size-l: 20px;
	--border-radius-l: 10px;

	//* GREAT
	--font-size-g: 26px;
	--border-radius-g: 20px;

	//* РАЗМЕРЫ
	// GLOBAL
	--border-size: 1px;
	// MAIN SIDEBAR
	--main-sidebar-width: 300px;
	--main-sidebar-padding-left: 30px;
	--main-sidebar-padding-right: 30px;
	// TOPBAR
	--topbar-height: 72px;
	--topbar-padding-x: 60px;
	// EMAIL-SIDEBAR
	--email-sidebar-width: 300px;
	// MAIL_PAGINATION-MODULE
	--mail-pagination-module-height: 80px;

	//* ТЕНИ
	--shadow-bg-base: rgba(100, 100, 100, 0.3);
	--shadow--base: var(--color-bg-base) 0px 0px 24px;

	//* Z-INDEX
	--global-loader-z-index: 100;
	--modal-z-index: 20;
	--notidication-z-index: 15;

	//* COLORS
	--mailru-color: #168de2;
	--google-color: #EA4335;
	--yandex-color: #FC3F1D;

	//* TRANSITIONS 
	--transition-base: all .15s ease;
}