.folders-create {
	width: 400px;
	& >:not(:last-child) {
		margin: 0 0 15px 0;
	}
	&__name {
		display: flex;
		align-items: center;
	}
	&__parent {
		display: flex;
		align-items: center;
	}
	&__btns {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__label {
		white-space: nowrap;
		margin: 0 5px 0 0;
		min-width: 100px;
	}
}