.grouped-navlink {
	display: flex;
	flex-direction: column;
	&__title {
		font-size: var(--font-size-s);
		color: var(--color-font-base-unactive);
		margin: 0 0 10px 0;
	}
	&__links {
		font-size: var(--font-size-m);
		display: flex;
		flex-direction: column;
		gap: 5px 0;
	}
}