.add-new-email-button {
	font-size: var(--font-size-s);
	color: var(--color-font-base-unactive);
	width: 100%;
	text-align: center;
	padding: 7px 0;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-m);
	cursor: pointer;
	&:hover {
		color: var(--color-font-base);
	}
}