.roles-list {
	background-color: var(--color-bg-focused);
	width: 80%;
	height: 80%;
	border-radius: var(--border-radius-m);
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 15px;

	&__heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		font-size: var(--font-size-l);
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: 10px;
		overflow: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--color-border);
		padding: 0 5px 0 0;

		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 3px;
			background: var(--color-border);
		}
	}
}