.pagination-wrapper {
	padding: 15px 20px;
    height: var(--mail-pagination-module-height);
    position: relative;
    display: flex;
    z-index: 6;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg);
    box-shadow: 0px -1px 0px 0px var(--shadow-bg-base);
	& > * {
		height: 50px;
	}
}