.amo-action {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: default;
	position: relative;
	padding: 5px 7px;
	border-radius: var(--yamailer-border-radius-larger);
	&:hover {
		background-color: var(--yamailer-grey-lighter-color);
	}
	&__text {
		white-space: nowrap;
	}
}