.file {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 0 90px;
	row-gap: 2px;
	width: 90px;
	border-radius: var(--yamailer-border-radius-larger);
	padding: 5px;
	transition: var(--yamailer-transition-base);
	&:hover {
		background-color: var(--yamailer-grey-lighter-color);
	}
	&:hover .file__remove {
		display: flex;
	}
	&__name {
		font-size: 13px;
		max-width: 100%;
		overflow: hidden;
		&-inner {
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			width: 100%;
			white-space: nowrap;
		}
	}
	&__icon {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
    	width: 100%;
	}
	&__img {
		max-width: 100%;
		padding: 10px;
		width: 100%;
	}
	&__remove {
		display: none;
		position: absolute;
		top: 1px;
		right: 1px;
		width: 20px;
		height: 20px;
		align-items: center;
		justify-content: center;
		background-color: var(--yamailer-white-color);
		border-radius: 50%;
		box-shadow: var(--yamailer-shadow-base);
	}
	&__extension {
		position: absolute;
		overflow: hidden;
		line-height: 1.1em;
		max-width: 45px;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin: 10px 0 0 0;
	}
	&__size {
		font-size: 11px;
		overflow: hidden;
		&-inner {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}