.pagination-control {
	display: flex;
	align-items: center;
	gap: 5px;
	&__arrow {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&:hover {
			background-color: var(--color-background-hover);
		}
	}
	&--inactive {
		pointer-events: none;
		opacity: .5;
	}
}