.attachments {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px 5px;
    margin-bottom: 30px;
    
    &__link {
        display: flex;
        flex-direction: column;
        flex: 0 0 90px;
        row-gap: 2px;
        width: 90px;
        align-items: center;
        color: var(--yamailer-black-color);
        text-decoration: none;
        transition-duration: .2s;
    
        span {
            font-size: 13px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        &:hover {
            text-decoration: underline;
        }
    }
}