.app.dark {
	--color-bg: #191D1E;

	--color-logo: #1953ED;

	--color-bg-focused: #25292B;

	--color-background-hover: #2B3030;
	
	--color-border: #313538;
	
	--color-font-base: #EBF1F1;

	--color-font-base-unactive: #878787;

	--color-orange: #FF3D00;

	--color-shadow-base: #2a2a2a;

	--color-hover-base:  #141617;   
}