.app.light {
	--color-bg: #f7f8fc;

	--color-logo: #1953ED;

	--color-bg-focused: #ffffff;

	--color-background-hover: #f8f8f8;

	--color-border: #CCCCCC;

	--color-font-base: #2C3F50;

	--color-font-darker: #202f3b;

	--color-font-base-unactive: rgb(190, 190, 190);

	--color-orange: #FF3D00;

	--color-shadow-base: #e6e6e6;

	--color-hover-base:  #E9E9F2;

	--color-green-base:  #24BC8C;

	--color-orange-base:  #FF8A1F;

	--color-red-base:  #E20000;

	--color-mail-checked: #fff6d4;

	--color-important-active: #ffeeee;
}