.user-rights-table-heading {
	min-width: fit-content;
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 7px 15px;
	border-radius: var(--yamailer-border-radius-base);
	background-color: var(--yamailer-white-color);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
	margin: 0 3px 0 0;
	&__managers {
		min-width: 400px;
		width: 400px;
		margin: 0 20px 0 0;
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 5px;
		min-width: 250px;
		width: 250px;
		&--inner {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			line-height: 1.2em;
		}
	}
}