.input {
    border: var(--yamailer-border-base);
    border-radius: 3px;
    font-size: 15px;
    height: 36px;
    padding: 8px 9px 7px 9px;
    box-sizing: border-box;
    color: var(--yamailer-font-base-color);
    background: transparent;
    &:focus {
        outline: 2px solid var(--yamailer-blue-lighter-color);
        &::placeholder {
            color: transparent;
        }
    }
    &--warning:not(:focus) {
        border-color: var(--yamailer-red-base-color);
        color: var(--yamailer-red-base-color);
    }
}
